---
html-table-processing: none
---

# Counting Values

> Counting unique elements in a sequence in various ways (absolute and cumulative, count and percentage).

In [ ]:
#| default_exp value_counts_plus

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import pandas as pd

In [ ]:
#| export
def value_counts_plus(
    series,
    dropna=False,
    show_top=10,
    sort_others=False,
    style=True,
    size=10,
    thousands=',',
    decimal='.',
    name='data',
    background_gradient='cividis'):
    """
    Provide a few ways of showing counts of values of items in ``series``.

    Parameters
    ----------
    series : pandas Series or list
        A sequence of items to count.
    dropna : bool
        Whether or not to drop missing values.
    show_top : int
        How many of the top rows to display.
    sort_others : bool
        Whether or not to place "Others" in the bottom (default) or in its
        sorted order position.
    style : bool
        Whether or not to style values for easier reading. If set to ``True``
        the result would not be a DataFrame, and cannot be further manipulated.
        Set the value to ``False`` to get aDataFrame as the return value.
    size : int
        The size in points of the font of the table. This results in the whole
        table being resized.
    thousands : str
        The character to use to separate thousands if `style=True`. Defaults to
        `,` but you can change to `.` or space, or any oher character you want.
    decimal : str
        The character to use to display decimal number if `style=True`. Defaults to
        `.` but you can change to `,`or any oher character you want.

    name : str
        The name of the column that you want displayed in the final table. It
        appears in the caption and defaults to "data".
    background_gradient: str
        The name of the color map to be used as the gradient. Many color maps
        are available: cividis, viridis, copper, cool, magma, and more. You can
        reverse the color by appending _r to the end of the colormap name
        cividis_r for example. Enter a random string to get an error message
        with all available colormaps.

    Returns
    -------
    value_counts_df : pandas.io.formats.style.Styler
        A DataFrame showing counts based on the provided arguments
    """
    final_col_names = ['count', 'cum_count', 'perc', 'cum_perc']
    if name in final_col_names:
        raise ValueError(f"Please make sure you use a name other than {final_col_names}")
    val_counts = pd.Series(series).rename(name).value_counts(dropna=dropna).reset_index()
    val_counts.columns = [name, 'count']
    if len(val_counts) > show_top:
        others_df = pd.DataFrame({
            name: ['Others:'],
            'count': val_counts[show_top:]['count'].sum()
            }, index=[show_top])
        val_counts = pd.concat([
            val_counts[:show_top],
            others_df
        ])
        if sort_others:
            val_counts = val_counts.sort_values(by=['count'], ascending=False)

    count_df = (val_counts
                .assign(
                    cum_count=lambda df: df['count'].cumsum(),
                    perc=lambda df: df['count'].div(df['count'].sum()),
                    cum_perc=lambda df: df['perc'].cumsum())
                )
    if not style:
        return count_df
    count_df.index = range(1, len(count_df)+1)
    count_df.columns = [name, 'count', 'cum. count', '%', 'cum. %']
    return (count_df
            .style
            .format({'count': '{:>,}',
                     'cum. count': '{:>,}',
                     '%': '{:>.1%}',
                     'cum. %': '{:>.1%}'},
                    thousands=thousands,
                    decimal=decimal)
            .background_gradient(background_gradient)
            .highlight_null()
            .set_caption(f'<h2>Counts of <b>{name}</b></h2>')
            .set_table_attributes(f'style=font-size:{size}pt;'))

In [ ]:
#| hide
from functools import partial
value_counts_plus = partial(value_counts_plus, size=15)

### Counting a list of random colors - default

In [ ]:
import pandas as pd
import plotly.express as px
import random
import numpy as np
import matplotlib as mpl
import plotly.express as px

In [ ]:
colors = list(mpl.colors.cnames.keys())
colors = random.choices(colors, weights=[0.9, 0.04, 0.05, 0.09]*37, k=10_000)
colors += [np.nan for i in range(240)]
colors[:20]

['darkred',
 'red',
 'midnightblue',
 'deeppink',
 'coral',
 'brown',
 'lightpink',
 'grey',
 'indigo',
 'azure',
 'darkgray',
 'lightgreen',
 'deepskyblue',
 'red',
 'navajowhite',
 'blanchedalmond',
 'slategray',
 'lavenderblush',
 'linen',
 'indigo']

In [ ]:
#| hide
assert type(value_counts_plus(colors)) == pd.io.formats.style.Styler

In [ ]:
#| echo: true
value_counts_plus(colors)

### Changing the number of displayed rows with `show_top`

In [ ]:
#| echo
value_counts_plus(colors, show_top=15)

In [ ]:
#| hide
assert value_counts_plus(colors, show_top=15, style=False).shape[0] == 16

In [ ]:
#| hide
# make sure it works with low unique values < show_top
assert type(value_counts_plus([1.1, 2, 3, 4], show_top=15)) == pd.io.formats.style.Styler

### Sorting "Others:"

In [ ]:
#| echo
value_counts_plus(colors, sort_others=True)

In [ ]:
#| hide
assert value_counts_plus(colors, sort_others=True, style=False)['data'].iloc[0] == 'Others:'

## Changing the name of the data and caption title with `name`

In [ ]:
#| echo
value_counts_plus(
    colors,
    name='Status codes')

## Change the size of table: `size`

In [ ]:
value_counts_plus(colors, size=5)

In [ ]:
value_counts_plus(colors, size=20)

## Completely change the caption using an HTML string with `set_caption`

In [ ]:
caption = '<h4>Status codes</h4>Top 5 values <a href="https://example.com">raw data</a>'
value_counts_plus(
    colors,
    name='Statuses',
    show_top=5).set_caption(caption)

### Removing table styling if you want a pure `DataFrame`:
* Counting in non-styled DataFrames is 0-based in case you want to further process it
* Columns are displayed in a slightly different manner

In [ ]:
value_counts_plus(colors, style=False)

             data  count  cum_count      perc  cum_perc
0          salmon    266        266  0.025977  0.025977
1       olivedrab    259        525  0.025293  0.051270
2           white    246        771  0.024023  0.075293
3   palegoldenrod    243       1014  0.023730  0.099023
4   lavenderblush    242       1256  0.023633  0.122656
5            plum    242       1498  0.023633  0.146289
6    midnightblue    242       1740  0.023633  0.169922
7             NaN    240       1980  0.023438  0.193359
8       goldenrod    238       2218  0.023242  0.216602
9     darkmagenta    237       2455  0.023145  0.239746
10        Others:   7785      10240  0.760254  1.000000

In [ ]:
#| hide
assert type(value_counts_plus(colors, style=False)) == pd.DataFrame

## Counting continuous data

We can easily make continuous data discrete by binning them. One easy way to do that is the `pandas.cut` function.

For example, if we want to count countries' populations, we can first bin them under 50M intervals, and run `value_counts_plus`.

In [ ]:
gm = px.data.gapminder().query('year == 2007')
gm['pop_interval'] = pd.cut(gm['pop'], range(0, 1_500_000_000, 50_000_000))
gm.sort_values('pop', ascending=False).head(15)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num,pop_interval
299,China,Asia,2007,72.961,1318683096,4959.114854,CHN,156,"(1300000000, 1350000000]"
707,India,Asia,2007,64.698,1110396331,2452.210407,IND,356,"(1100000000, 1150000000]"
1619,United States,Americas,2007,78.242,301139947,42951.653090,USA,840,"(300000000, 350000000]"
719,Indonesia,Asia,2007,70.650,223547000,3540.651564,IDN,360,"(200000000, 250000000]"
179,Brazil,Americas,2007,72.390,190010647,9065.800825,BRA,76,"(150000000, 200000000]"
1175,Pakistan,Asia,2007,65.483,169270617,2605.947580,PAK,586,"(150000000, 200000000]"
107,Bangladesh,Asia,2007,64.062,150448339,1391.253792,BGD,50,"(150000000, 200000000]"
1139,Nigeria,Africa,2007,46.859,135031164,2013.977305,NGA,566,"(100000000, 150000000]"
803,Japan,Asia,2007,82.603,127467972,31656.068060,JPN,392,"(100000000, 150000000]"
995,Mexico,Americas,2007,76.195,108700891,11977.574960,MEX,484,"(100000000, 150000000]"
1223,Philippines,Asia,2007,71.688,91077287,3190.481016,PHL,608,"(50000000, 100000000]"
1655,Vietnam,Asia,2007,74.249,85262356,2441.576404,VNM,704,"(50000000, 100000000]"
575,Germany,Europe,2007,79.406,82400996,32170.374420,DEU,276,"(50000000, 100000000]"
467,Egypt,Africa,2007,71.338,80264543,5581.180998,EGY,818,"(50000000, 100000000]"
515,Ethiopia,Africa,2007,52.947,76511887,690.805576,ETH,231,"(50000000, 100000000]"

In [ ]:
value_counts_plus(
    gm['pop_interval'],
    name='Population intervals - 2007',
    background_gradient='RdBu')

Now we can see that there are 120 countries with a population less than 50M. You can play around with the bin interval to get an appropriate value for your data.

### Changing the theme used with `theme`

In [ ]:
value_counts_plus(colors, background_gradient='Greens')

In [ ]:
value_counts_plus(colors, background_gradient='cool')

### Convert the table to raw HTML for embedding in a blog or web page

In [ ]:
print(value_counts_plus(colors).to_html()[:700])

<style type="text/css">
#T_9213d_row0_col1, #T_9213d_row0_col2, #T_9213d_row0_col3, #T_9213d_row0_col4, #T_9213d_row1_col1, #T_9213d_row1_col3, #T_9213d_row2_col1, #T_9213d_row2_col3, #T_9213d_row3_col1, #T_9213d_row3_col3, #T_9213d_row4_col1, #T_9213d_row4_col3, #T_9213d_row5_col1, #T_9213d_row5_col3, #T_9213d_row6_col1, #T_9213d_row6_col3, #T_9213d_row7_col1, #T_9213d_row7_col3, #T_9213d_row8_col1, #T_9213d_row8_col3, #T_9213d_row9_col1, #T_9213d_row9_col3 {
  background-color: #00224e;
  color: #f1f1f1;
}
#T_9213d_row1_col2, #T_9213d_row1_col4 {
  background-color: #002758;
  color: #f1f1f1;
}
#T_9213d_row2_col2, #T_9213d_row2_col4 {
  background-color: #002b62;
  color: #f1f1f1;
}
#T_921

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()